[Unit]
Description=Deepin Polkit Agent
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/lib/polkit-1-dde/dde-polkit-agent
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland:niri" ""
Restart=on-failure

[Install]
WantedBy=graphical-session.target
