[Unit]
Description=Simple PolicyKit authentication agent for Xfce
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/libexec/xfce-polkit
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland:niri" ""
Restart=on-failure

[Install]
WantedBy=graphical-session.target
