@import url("reset.css");
@import url("palette.css");
@import url("animations.css");

window#waybar {
    font-size: 1rem;
    color: alpha(@mainforeground, 1);
    background-color: alpha(@mainbackground, 0.9);
    border-radius: 0rem;
    /* box-shadow:
        0 0 0.5rem 0 alpha(@mainforeground, 0.2) inset,
        0 0 0 0.0625rem alpha(@mainforeground, 0.2) inset; */
    background-image: linear-gradient(to bottom left,
            alpha(@secondarybackground, 1) 10%,
            alpha(@secondarybackground, 1) 100%);
    background-blend-mode: darken;
    box-shadow: 0 -0.125rem alpha(@mainforeground, 0.2) inset,
        0 -0.125rem alpha(@mainforeground, 0.2) inset;
}

.module {
    background: transparent;
}

#window label {
    /* font-size: 0.5rem; */
    color: alpha(@mainforeground, 1);
}

label.module {
    padding: 0 0.0625rem;
    box-shadow: inset 0 -0.0625rem;
}

box.module button:hover {
    box-shadow: inset 0 -0.0625rem #ffffff;
}

.modules-left,
.modules-center,
.modules-right {
    border-radius: 0.125rem 0 0 0.125rem;
}

#custom-power {
    color: alpha(@secondaryforeground, 1);
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0.25rem;
    padding: 0.0625rem;
    background-color: transparent;
    box-shadow: 0 -0.0625rem alpha(@mainforeground, 1) inset;
}

/* .modules-left widget,
.modules-center widget,
.modules-right widget {
    margin: 1rem;
    padding: 0.125rem;
    border-radius: 0.1rem;
} */

.modules-left label,
.modules-center label,
.modules-right label {
    padding: 0 0.5rem 0 0.5rem;
    /* margin: 0.00625rem; */
}

window#waybar.empty {
    font-size: 1rem;
    background-color: alpha(@secondarybackground, 0.1);
    background-blend-mode: multiply;
}

window#waybar.empty #clock,
window#waybar.empty #workspaces button {
    color: alpha(@borderlight, 0.51);
    text-shadow: -0.0625rem -0.0625rem 0.0625rem alpha(@shadow, 1);
}

window#waybar.empty #workspaces button.visible,
window#waybar.empty #workspaces button.active {
    color: alpha(@borderlight, 0.51);
    background-color: alpha(@mainbackground, 0.4);
    background-image: linear-gradient(to top,
            alpha(@mainbackground, 0.3) 10%,
            alpha(@borderlight, 0.3) 100%);
    background-blend-mode: color-burn;
    box-shadow: 0 -0.0625rem alpha(@critical, 1) inset;
}

window#waybar.solo {
    background: transparent;
    background-color: alpha(@secondarybackground, 0.3);
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom right,
            alpha(@solo, 0.6) 5%,
            alpha(@solo, 0.4) 20%);
}

window#waybar.floating .modules-left,
window#waybar.floating .modules-right,
window#waybar.floating .modules-center {
    background: alpha(@alternatebackground, 0.1);
    box-shadow: 0 0 0.5rem 0 alpha(@borderlight, 0.3) inset,
        0 0 0 0.0625rem alpha(@borderlight, 0.7) inset;
    background-image: linear-gradient(to bottom right,
            alpha(@floating, 1) 50%,
            alpha(@floating, 1) 100%);
    background-blend-mode: color-dodge;
}

window#waybar.fullscreen {
    background-color: alpha(@mainbackground, 0.82);
}

window#waybar.swallowing .workspaces {
    box-shadow: 0 0 0.5rem 0 alpha(@peachy, 1) inset,
        0 0 0 0.0625rem alpha(@peachy, 1) inset;
}

#workspaces {
    border-radius: 0.1rem;
    padding: 0.03125rem;
}

#workspaces label {
    font-size: 1rem;
    /* font-weight: 600; */
}

#workspaces label:hover {
    font-size: 1.8rem;
    /* font-weight: 600; */
}

#workspaces button {
    color: alpha(@secondaryforeground, 1);
    border-radius: 0.125rem;
    padding: 0.03125rem;
    margin: 0.125rem;
    box-shadow: 0 -0.0625rem alpha(@lightborder, 0.1) inset;
    background-image: linear-gradient(to bottom right,
            alpha(@mainbackground, 0.2) 50%,
            alpha(@borderlight, 0.1) 100%);
    background-blend-mode: color-burn;
}

#workspaces button:hover,
#workspaces button.persistent:hover,
#workspaces button.visible:hover,
#workspaces button.active:hover,
#workspaces button.empty:hover {
    color: alpha(@buttonhover, 1);
    background-color: transparent;
    border-radius: 0rem;
    box-shadow: 0 -0.5rem alpha(@buttonhover, 0.5) inset;
    /* text-shadow: -0.0625rem -0.0625rem 0.0625rem alpha(@borderlight, 0.1); */
    text-shadow: -0.125rem -0.0625rem 0.0625rem alpha(@buttonhover, 0.1);
    background-image: linear-gradient(to top,
            alpha(@mainbackground, 0.4) 10%,
            alpha(@borderlight, 0.3) 100%);
    background-blend-mode: color-burn;
}

#workspaces button.visible {
    color: alpha(@mainbackground, 0.7);
    border-radius: 0rem;
    background-color: alpha(@secondaryforeground, 0.7);
    background-blend-mode: overlay;
    /* text-shadow: 0 -0.0625rem alpha(@buttonhover, 0.3); */
    box-shadow: 0 -0.25rem alpha(@buttonhover, 0.3) inset;
}

/* #workspaces button label {
    font-size: 1.1rem;
} */

/* #workspaces button:hover label {
    font-size: 1.1rem;
} */

#workspaces button.active {
    color: alpha(@mainbackground, 1);
    border-radius: 0rem;
    background-color: alpha(@mainforeground, 0.7);
    background-image: linear-gradient(to top,
            alpha(@borderlight, 0.15) 10%,
            alpha(@borderlight, 0.15) 100%);
    background-blend-mode: overlay;
    /* text-shadow: 0 -0.0625rem alpha(@buttonhover, 0.7); */
    box-shadow: 0 -0.25rem alpha(@darkestbackground, 0.5) inset;
}

#workspaces button.special {
    color: @mainforeground;
}

/* #workspaces button.hosting-monitor {
    color: alpha(@mainforeground, 1);
    background-color: alpha(@mainbackground, 1);
    background-blend-mode: lighten;
} */

/* #workspaces button.persistent {
    color: alpha(@brightext, 1);
} */

#workspaces button.urgent {
    background-color: alpha(@peachy, 0.85);
    box-shadow: 0 -0.0625rem alpha(@peachy, 0.85) inset;
}

#workspaces button.empty {
    color: alpha(@secondaryforeground, 0.3);
    background-color: alpha(@borderlight, 0.1);
    background-image: linear-gradient(to top,
            alpha(@borderlight, 0.1) 10%,
            alpha(@borderlight, 0.1) 100%);
    box-shadow: 0 -0.0625rem 0 alpha(@borderlight, 0.1) inset;
    background-blend-mode: multiply;
}

#workspaces button.urgent:hover {
    color: alpha(@mainred, 1);
}

#workspaces button.hidden {
    color: alpha(@peachy, 1);
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#custom-appmenu,
#custom-tools-button,
#gamemode,
#idle_inhibitor,
#keyboard-state,
#language,
#network,
#power-profiles-daemon,
#privacy,
#privacy-item,
#privacy-item.audio-in,
#privacy-item.audio-out,
#privacy-item.screenshare,
#taskbar,
#tray,
#wireplumber {
    color: alpha(@secondaryforeground, 1);
    background-color: transparent;
    /* box-shadow: 0 -0.125rem alpha(@brightlight, 1) inset; */
    border-radius: 0.1rem;
}

#wireplumber {
    font-size: 1.5rem;
    /* font-weight: 600; */
}

#taskbar {
    border-radius: 0;
    padding: 0 0.125rem 0 0.125rem;
    margin: 0 0.0625rem 0 0.0625rem;
}

#taskbar label {
    padding: 0 0.05rem 0 0.05rem;
    margin: 0rem;
}

#taskbar button {
    border-radius: 0.1rem;
    padding: 0 0.25rem 0 0.25rem;
    margin: 0 0.0625rem 0 0.0625rem;
}

#taskbar button:hover {
    box-shadow: 0 -0.5rem alpha(@borderlight, 0.3) inset;
}

#taskbar button.active:hover {
    box-shadow: 0 -0.5rem alpha(@borderlight, 0.3) inset;
}

#taskbar button.active {
    background-color: transparent;
}

#taskbar button.minimized {
    background-color: @mainbackground;
}

#taskbar button.maximized {
    background-color: transparent;
}

#taskbar button.fullscreen {
    background-color: @borderlight;
}

#taskbar.empty {
    background-color: transparent;
}

#group-dockish,
#group-appicons {
    padding: 0.01rem;
    margin: 0.01rem;
}

#group-privacy {
    border-radius: 0.1rem;
    padding: 0 0.25rem 0 0.25rem;
    margin: 0.3rem;
}

#privacy {
    border-radius: 0.1rem;
}

#privacy:hover {
    box-shadow: 0 -0.5rem alpha(@darkerred, 0.3) inset;
}

#privacy-item {
    padding: 0 0.25rem 0 0.25rem;
}

#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
    color: alpha(@dl-fg-orange, 1);
    animation: blink 3s steps(12) infinite alternate;
}

#backlight-slider {
    padding: 0 0.25rem 0 0.25rem;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    background-color: alpha(@borderlight, 1);
    min-height: 0.625rem;
    min-width: 15rem;
    border-radius: 0.1rem;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    background-color: alpha(@borderlight, 1);
    min-width: 0.25rem;
    border-radius: 0.1rem;
}

#clock {
    font-size: 0.9rem;
    /* font-weight: 600; */
    border-radius: 0.1rem;
    box-shadow: none;
}

#battery:hover,
#backlight:hover,
#wireplumber:hover,
#custom-swaync:hover,
#custom-tools-button:hover,
#network:hover,
#network.ethernet:hover,
#network.disabled:hover,
#network.disconnected:hover,
#network.wifi:hover,
#network.linked:hover,
#bluetooth:hover,
#bluetooth.pairable:hover,
#bluetooth.disabled:hover,
#bluetooth.off:hover,
#bluetooth.on:hover,
#bluetooth.connected:hover,
#bluetooth.discoverable:hover,
#bluetooth.discovering:hover {
    color: alpha(@secondaryforeground, 1);
    background-color: transparent;
}

#idle_inhibitor {
    font-size: 1rem;
    /* font-weight: 600; */
    border-radius: 0.1rem;
    padding: 0 0.125rem 0 0.125rem;
    margin: 0.0625rem;
    box-shadow: 0 -0.125rem alpha(@brightext, 1) inset;
}

#idle_inhibitor:hover {
    background-blend-mode: color-burn;
    text-shadow: 0 -0.0625rem alpha(@buttonhover, 0.7);
    box-shadow: 0 -0.25rem alpha(@buttonhover, 0.7) inset;
}

#idle_inhibitor.activated {
    opacity: 1;
}

#idle_inhibitor.deactivated {
    opacity: 0.4;
}

#custom-swaync {
    color: alpha(@secondaryforeground, 0.8);
}

#custom-swaync.notification {
    color: alpha(@secondaryforeground, 1);
}

#custom-swaync.none:hover,
#custom-swaync.notification:hover,
#custom-swaync.dnd-notification:hover,
#custom-swaync.inhibited-notification:hover,
#custom-swaync.inhibited-none:hover,
#custom-swaync.dnd-inhibited-notification:hover,
#custom-swaync.dnd-inhibited-none:hover {
    color: alpha(@borderlight, 0.31);
    background-color: transparent;
    box-shadow: 0 0 0.5rem 0 alpha(@borderlight, 0.3) inset,
        0 0 0 0.0625rem alpha(@borderlight, 0.3) inset;
}

#custom-swaync.none {
    color: alpha(@borderlight, 1);
}

#custom-swaync.dnd-notification {
    color: alpha(@borderlight, 0.7);
}

#custom-swaync.dnd-none {
    color: alpha(@borderlight, 0.3);
}

#custom-swaync.inhibited-notification,
#custom-swaync.inhibited-none,
#custom-swaync.dnd-inhibited-notification,
#custom-swaync.dnd-inhibited-none {
    color: alpha(@borderlight, 0.2);
}

#power-profiles-daemon {
    font-size: 1.2rem;
}

#power-profiles-daemon:hover {
    color: alpha(@limegreen, 1);
}

#power-profiles-daemon.performance {
    font-size: 1.2rem;
    color: alpha(@peachy, 1);
}

#power-profiles-daemon.performance:hover {
    color: alpha(@maincritical, 1);
}

#power-profiles-daemon.balanced {
    font-size: 1.2rem;
    color: alpha(@brightext, 1);
}

#power-profiles-daemon.balanced:hover {
    color: alpha(@vividtext, 1);
}

#power-profiles-daemon.power-saver {
    font-size: 1.2rem;
    color: alpha(@brightext, 1);
}

#power-profiles-daemon.power-saver:hover {
    color: alpha(@greenish, 1);
}

#custom-kill {
    color: alpha(@maincritical, 1);
    padding: 0 0.25rem 0 0.25rem;
}

#custom-kill:hover {
    color: alpha(@darkrose, 1);
    background-color: transparent;
}

#custom-appmenu,
#custom-power {
    font-size: 1.2rem;
    /* font-weight: 600; */
    border-radius: 0.1rem;
}

#custom-appmenu {
    padding: 0 1rem 0 1rem;
    margin: 0 0.25rem 0 0;
}

#custom-power {
    padding: 0 0.7rem 0 0.7rem;
    margin: 0 0.0625rem 0 0.0625rem;
}

#custom-power:hover {
    color: alpha(@peachy, 1);
}

#custom-appmenu:hover {
    color: alpha(@lighttext, 1);
}

#custom-appmenu:hover,
#custom-power:hover {
    background-color: transparent;
    box-shadow: 0 0 0.0625rem 0 @borderlight inset,
        0 0 0 0.0625rem alpha(@secondarytext, 1) inset;
    background-blend-mode: screen, multiply;
    background-image: linear-gradient(to top left,
            alpha(@mainbackground, 0.2) 0%,
            alpha(@tertiarytext, 0.2) 100%);
    border-radius: 0 0.1rem 0.1rem 0;
}

#custom-clipboard_list {
    color: alpha(@rose, 1);
}

#custom-hyprpicker {
    color: alpha(@groundblue, 1);
}

#custom-wallpaper {
    color: alpha(@lightteal, 1);
}

#custom-backup {
    color: alpha(@workspacebutton, 1);
}

#custom-search,
#custom-kill,
#custom-hyprpicker,
#custom-clipboard_list,
#custom-backup,
#custom-myxer {
    font-size: 1rem;
    background-color: transparent;
    border-radius: 0.1rem;
}

#custom-search:hover,
#custom-tools-button:hover,
#custom-hyprpicker:hover,
#custom-clipboard_list:hover,
#custom-backup:hover,
#custom-myxer:hover {
    color: @borderlight;
}

#group-backlight label,
#group-tools label,
#group-audio label,
#power-profile-daemon {
    font-size: 1.1rem;
}

.drawer-child {
    padding: 0 0.25rem 0 0.25rem;
    background-color: transparent;
}

.tools-child {
    background-color: transparent;
}

#temperature {
    color: alpha(@darkred, 1);
}

#temperature.critical {
    background-color: alpha(@mainred, 1);
}

#cpu {
    color: alpha(@alternatetext, 1);
}

#disk {
    color: alpha(@borderlight, 1);
}

#memory {
    color: alpha(@yellow, 1);
}

#group-battery {
    margin: 0 0.125rem 0 0.125rem;
}

#battery {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.0625rem;
}

#battery,
#battery.capacity {
    background-color: transparent;
    padding: 0.0625rem;
}

#battery.capacity {
    font-size: 0.7rem;
    /* font-weight: 600; */
}

#battery.charging,
#battery.capacity .charging {
    color: @borderlight;
    animation: blink 4s steps(12) infinite alternate;
}

#battery.half:not(.charging) {
    color: @discharging;
    animation: blink 4s steps(12) infinite alternate;
}

#battery.warning:not(.charging),
#battery.capacity .warning:not(.charging) {
    color: alpha(@orange, 1);
    animation: blink 4s steps(12) infinite alternate;
}

#battery.critical:not(.charging) {
    color: alpha(@maincritical, 1);
    animation: blink 4s steps(12) infinite alternate;
}

#battery.discharging {
    color: alpha(@borderlight, 1);
    animation: blink 4s steps(12) infinite alternate;
}

window#waybar.battery-critical {
    background-color: alpha(@quarternarycritical, 0.8);
}

window#waybar.battery-warning {
    background-color: alpha(@laranja, 0.1);
}

#tray {
    border-radius: 0.1rem;
    padding: 0.125rem;
}

#tray widget {
    background-color: transparent;
    border-radius: 0.1rem;
}

#tray menu {
    color: @borderlight;
    background-color: @mainbackground;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.1rem;
    box-shadow: 0 0 0.5rem 0 alpha(@borderlight, 0.3) inset,
        0 0 0 0.0625rem alpha(@borderlight, 0.3) inset;
}

#tray menu label {
    font-size: 0.9rem;
    padding: 0.25rem;
    margin: 0.5rem;
}

#tray menu label:hover {
    color: @secondarycritical;
}

#tray>.passive {
    background-color: transparent;
    font-size: 2rem;
}

#tray>.active {
    border-bottom: 0.125rem solid @greenlight;
    border-radius: 0.1rem;
}

#tray>.needs-attention {
    border: 0.15rem solid @attention;
}

#network {
    font-size: 1.3rem;
    /* font-weight: 600; */
    padding: 0 0.5rem 0 0.5rem;
    margin: 0.125rem;
    border-radius: 0.1rem;
}

#bluetooth {
    font-size: 1.3rem;
    border-radius: 0.1rem;
}

#network.disabled,
#bluetooth.disabled {
    color: alpha(@peachy, 0.3);
}

#network.disconnected,
#bluetooth.off {
    color: alpha(@peachy, 0.7);
}

#network.wifi,
#bluetooth.on {
    color: alpha(@secondaryforeground, 0.7);
}

#network.linked,
#bluetooth.connected {
    color: alpha(@secondaryforeground, 0.7);
}

#bluetooth.discoverable,
#bluetooth.discovering {
    color: alpha(@secondaryforeground, 1);
}

#network.ethernet,
#bluetooth.pairable {
    color: alpha(@secondaryforeground, 0.7);
}

#gamemode.running {
    color: alpha(@secondaryforeground, 1);
}

#user image .avatar {
    font-size: 0.7rem;
}

#user image {
    background-color: @borderlight;
    padding: 0.3rem;
    border-radius: 0.1rem;
}

tooltip {
    background-color: alpha(@mainbackground, 0.82);
    margin: 0.5rem;
    border: 0.0625rem solid alpha(@borderlight, 0.62);
    border-radius: 0.1rem;
    box-shadow: 0 0 0.5rem 0 alpha(@borderlight, 0.3) inset,
        0 0 0 0.0625rem alpha(@borderlight, 0.3) inset;
}

tooltip label {
    font-size: 1rem;
    color: @borderlight;
    padding: 0 1rem 0 1rem;
}

#submap {
    font-size: 0.8rem;
    /* font-weight: 600; */
    color: alpha(@peachy, 1);
    min-width: 8rem;
    animation: blink 3s steps(12) infinite alternate;
}

#custom-separator {
    font-size: 0.3rem;
    color: alpha(@lighttext, 0.5);
    padding: 0rem;
    margin: 0.125rem 0 0.125rem 0;
    /* box-shadow: 0 0 0.5rem 0 alpha(@borderlight, 0.3) inset,
        0 0 0 0.0625rem alpha(@borderlight, 0.3) inset; */
}

#custom-hyprbars {
    font-size: 1.3rem;
    /* font-weight: 600; */
    border-radius: 0.1rem;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0.125rem;
    text-shadow: -0.0625rem -0.0625rem 0.0625rem alpha(@borderlight, 0.3);
    /* box-shadow: 0 0 0.5rem 0 alpha(@brightlight, 0.3) inset,
        0 0 0 0.0625rem alpha(@brightlight, 0.3) inset; */
    transition: all 0.6s cubic-bezier(0.79, 0.33, 0.14, 0.53);
}

#custom-hyprbars:hover,
#custom-hyprbars.Disabled:hover,
#custom-hyprbars.Enabled:hover {
    color: alpha(@buttonhover, 1);
    border-radius: 0rem;
    background-color: transparent;
    box-shadow: 0 -0.5rem alpha(@buttonhover, 0.5) inset;
    text-shadow: -0.0625rem -0.0625rem 0.0625rem alpha(@borderlight, 0.1);
    background-image: linear-gradient(to top,
            alpha(@mainbackground, 0.2) 10%,
            alpha(@borderlight, 0.1) 100%);
    background-blend-mode: color-burn;
    transition: all 0.6s cubic-bezier(0.79, 0.33, 0.14, 0.53);
}

#custom-hyprbars.Disabled {
    color: alpha(@borderlight, 0.55);
}

#custom-hyprbars.Enabled {
    color: alpha(@borderlight, 0.8);
}
