@import "../waybar/reset.css";
@import "../waybar/palette.css";
@import "../waybar/animations.css";

window {
    color: alpha(@mainforeground, 0.6);
    background-color: alpha(@alternatebackground, 0.8);
    border-radius: 0rem;
    box-shadow: 0 0 0.0625rem 0 alpha(@mainforeground, 1) inset, 0 0 0 0.0625rem alpha(@secondaryforeground, 1) inset;
    background-image: linear-gradient(to top left, alpha(@alternatebackground, 0.2) 0%, alpha(@secondarybackground, 0.2) 100%);
}

/* search entry */
entry {
    font-size: 1.5rem;
    color: alpha(@vividpurple, 1);
    background-color: alpha(@alternatebackground, 0.6);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0rem;
    box-shadow: 0 0 0.25rem 0 alpha(@mainforeground, 0.2) inset, 0 0 0 0.125rem alpha(@secondaryforeground, 0.2) inset;
}

label {
    font-size: 1.1rem;
}

image {
    background: transparent;
    padding: 0.5rem;
    margin: 0.5rem;
}

button {
    font-size: 1.5rem;
    color: alpha(@brighttext, 1);
    border-radius: 0rem;
    padding: 0 1rem 0 1rem;
    margin: 0.25rem;
    box-shadow: 0 0 0.5rem 0 alpha(@mainforeground, 0.1) inset, 0 0 0 0.0625rem alpha(@lighttext, 0.1) inset;
}

button:hover {
    font-size: 1.5rem;
    color: alpha(@brightext, 0.8);
    text-shadow: none;
    box-shadow: 0 0 0.5rem 0 alpha(@mainforeground, 1) inset, 0 0 0 0.125rem alpha(@secondaryforeground, 1) inset;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom right, alpha(@alternatebackground, 0.2) 0%, alpha(@mainforeground, 0.2) 10%);
}

button:focus {
    border-radius: 0rem;
    box-shadow: 0 0 0.0625rem 0 alpha(@mainforeground, 1) inset, 0 0 0 0.0625rem alpha(@secondaryforeground, 1) inset;
    outline: 0.25rem dotted alpha(@brighttext, 1);
    background-image: linear-gradient(to bottom right, alpha(@alternatebackground, 0.1) 0%, darker(@mainforeground) 100%);
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 0.25rem 0 0.25rem;
    padding: 0.125rem;
    box-shadow: 0 0 0.5rem 0 alpha(@mainforeground, 0.1) inset, 0 0 0 0.0625rem alpha(@lighttext, 0.1) inset;
}

#pinned-box {
    padding-bottom: 0.3125rem;
    background-color: alpha(@alternatebackground, 0.3);
    border-radius: 0rem;
    box-shadow: 0 0 0.5rem 0 alpha(@mainforeground, 0.2) inset, 0 0 0 0.125rem alpha(@secondaryforeground, 0.5) inset;
}

#files-box {
    padding: 0.3125rem;
    border: solid 0.125rem alpha(@mainforeground, 1.0);
    border-radius: 0rem;
}

#math-label {
    border-radius: 0rem;
    background-color: alpha(@mainforeground, 1);
    color: alpha(@defaultbackground, 1);
    font-size: 4rem;
}

button:active {
    border-radius: 0rem;
    outline: 0.0625rem dotted alpha(@peachy, 0.4);
    background-color: alpha(@peachy, 0.6);
}
