@import "palette.css";

* {
    all: unset;
    font-size: 16px;
    font-family: "Inter Variable", "Symbols Nerd Font";
    font-feature-settings: '"zero", "tnum", "ss01", "ss02", "ss03", "cv01", "cv05", "cv08", "cv10", "cv11", "cpsp", "case"';
    font-weight: 700;
    /* animation-timing-function: steps(12);
    animation-duration: 0.4s;
    transition: all 0.4s cubic-bezier(0.79, 0.33, 0.14, 0.53); */
    /* transition-delay: 0ms;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.79, 0.33, 0.14, 0.53); */
}

/* @import "animations.css"; */

window {
    font-size: 1rem;
    color: alpha(@dl-fg-gray, 0.8);
    background-color: alpha(@dl-bg-darkest, 0.9);
    border-radius: 0rem;
    box-shadow:
        0 0 0.5rem 0 alpha(@dl-bg-darkest, 1) inset,
        0 0 0 0.0625rem alpha(@dl-bg-darkest, 1) inset;
    background-image: linear-gradient(to bottom left,
            alpha(@dl-bg-dark, 1) 10%,
            alpha(@dl-bg-normal, 1) 100%);
    background-blend-mode: darken;
}

label {
    color: alpha(@dl-fg-gray, 0.8);
    font-size: 2rem;
    font-weight: bold;
}
