* {
    all: unset;
    font-size: 16px;
    font-family: "0xProto", "Symbols Nerd Font";
    font-feature-settings: '"tnum", "ss01", "ss02", "ss07", "ss08", "cv01", "cv05", "cv08", "cv10", "cv11", "cpsp", "case"';
    /* font-weight: 700; */
    animation-timing-function: steps(12);
    animation-duration: 1s;
    transition: all 1s cubic-bezier(0.79, 0.33, 0.14, 0.53);
    text-shadow: -1px -1px 4px alpha(red, 1);
}

@import url("palette.css");
@import url("animations.css");

window#waybar {
    /* font-size: 1rem; */
    color: alpha(@laranja, 1);
    background-color: alpha(@space-blue, 0.9);
    box-shadow:
        0 0 0.5rem 0 alpha(@abobora, 0.1) inset,
        0 0 0 0.125rem alpha(@pessego, 0.1) inset;
    background-image: linear-gradient(to bottom left,
            alpha(@abobora, 0.3) 10%,
            alpha(@abobora, 0.3) 100%);
    background-blend-mode: color-burn;
    border-radius: 0.2rem;
    border-bottom: alpha(@laranja, 0.5) 0.0625rem solid;
}

window#waybar.solo {
    background-color: alpha(@space-blue, 0.9);
    box-shadow:
        0 0 0.5rem 0 alpha(@pessego, 0.1) inset,
        0 0 0 0.125rem alpha(@laranja, 0.1) inset;
    background-image: linear-gradient(to bottom right,
            alpha(@abobora, 0.7) 5%,
            alpha(@abobora, 0.7) 20%);
    background-blend-mode: color-dodge;
    border-radius: 0rem;
    border-bottom: alpha(@laranja, 0.2) 0.0625rem solid;
}

window#waybar.empty {
    font-size: 1rem;
    background-color: alpha(@pessego, 0.1);
    background-blend-mode: multiply;
}

window#waybar.empty #clock,
window#waybar.empty #battery,
window#waybar.empty #power-profiles-daemon,
window#waybar.empty #network,
window#waybar.empty #custom-power,
window#waybar.empty #custom-tools-button,
window#waybar.empty #custom-swaync,
window#waybar.empty #privacy,
window#waybar.empty #privacy-item,
window#waybar.empty #privacy-item.screenshare,
window#waybar.empty #privacy-item.audio-in,
window#waybar.empty #privacy-item.audio-out,
window#waybar.empty #idle_inhibitor,
window#waybar.empty #custom-swaync,
window#waybar.empty #custom-appmenu,
window#waybar.empty #workspaces button {
    color: alpha(@laranja, 1);
    text-shadow: -1px -1px 1px alpha(@blue-shadow, 1);
}

window#waybar.empty #workspaces button.visible,
window#waybar.empty #workspaces button.active {
    color: alpha(@abobora, 1);
    background-color: alpha(@almost-brown, 0.4);
    background-image: linear-gradient(to top,
            alpha(@abobora, 0.3) 10%,
            alpha(@pessego, 0.3) 100%);
    background-blend-mode: color-burn;
}

#clock,
#privacy,
#privacy-item,
#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
    color: @blue-text;
}

window#waybar.floating .modules-left,
window#waybar.floating .modules-right,
window#waybar.floating .modules-center {
    background: alpha(@abobora, 0.1);
    box-shadow:
        0 0 0.5rem 0 alpha(@laranja, 0.3) inset,
        0 0 0 0.0625rem alpha(@laranja, 0.3) inset;
    background-image: linear-gradient(to bottom right,
            alpha(@almost-brown, 0.2) 50%,
            alpha(@abobora, 0.2) 100%);
    background-blend-mode: multiply;
}

window#waybar.fullscreen {
    background-color: alpha(@space-blue, 0.8);
    background-blend-mode: color-dodge;
}

window#waybar.swallowing .workspaces {
    box-shadow:
        0 0 0.5rem 0 alpha(@laranja, 1) inset,
        0 0 0 0.0625rem alpha(@abobora, 1) inset;
}

.module {
    background: transparent;
}

#window label {
    /* font-size: 0.7rem; */
    font-weight: 600;
    color: alpha(@laranja, 0.7);
}

.modules-left {
    border-radius: 0.2rem;
    border: alpha(@abobora, 0.5) 0.0625rem solid;
    border-bottom: none;
}

.modules-center {
    border-radius: 0.2rem;
    background-color: transparent;
    border: alpha(@abobora, 0.5) 0.0625rem solid;
    border-bottom: none;
}

.modules-right {
    border-radius: 0.2rem;
    border: alpha(@abobora, 0.5) 0.0625rem solid;
    border-bottom: none;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: transparent;
}

.modules-left widget,
.modules-center widget,
.modules-right widget {
    color: alpha(@laranja, 0.82);
    border-radius: 0.2rem;
}

.modules-left label,
.modules-center label,
.modules-right label {
    padding: 0 0.5rem 0 0.5rem;
    margin: 0.125rem;
}

#workspaces {
    border-radius: 0.2rem;
    padding: 0.125rem;
}

/* #workspaces label {
    font-size: 2rem;
    font-weight: 900;
} */

#workspaces button {
    /* font-size: 2rem; */
    /* font-weight: 900; */
    color: alpha(@laranja, 0.82);
    border-radius: 0.2rem;
    padding: 0.25rem;
    margin: 0.125rem;
    box-shadow:
        0 0 0.125rem 0 alpha(@abobora, 0.42) inset,
        0 0 0 0.0625rem alpha(@abobora, 0.42) inset;
    background-image: linear-gradient(to bottom right,
            alpha(@abobora, 0.2) 50%,
            alpha(@pessego, 0.1) 100%);
}

#workspaces button.persistent {
    color: alpha(@pessego, 0.45);
}

#workspaces button.urgent {
    background-color: alpha(@quarternarycritical, 0.85);
    box-shadow:
        0.0625rem 0.0625rem 0 0 alpha(@secondarycritical, 0.85) inset,
        0.0625rem 0.0625rem 0 0 alpha(@defaultcritical, 0.85) inset;
}

#workspaces button.empty {
    color: alpha(@laranja, 0.3);
}

#workspaces button.visible {
    color: alpha(@laranja, 1);
    box-shadow:
        0 0 0.0625rem 0.0625rem alpha(@laranja, 0.3) inset,
        0 0.0625rem 0 0.0625rem alpha(@laranja, 0.3) inset;
}

#workspaces button.active {
    background-color: alpha(@night-blue, 0.5);
    background-image: linear-gradient(to top,
            alpha(@abobora, 0.21) 50%,
            alpha(@pessego, 0.21) 100%);
    background-blend-mode: color-burn;
}

#workspaces button.special {
    color: alpha(@laranja, 1);
}

#workspaces button:hover,
#workspaces button.persistent:hover,
#workspaces button.visible:hover,
#workspaces button.active:hover,
#workspaces button.empty:hover {
    color: alpha(@laranja, 1);
    background-color: transparent;
    border-radius: 0.2rem;
    box-shadow:
        0 0 0.5rem 0 alpha(@laranja, 0.5) inset,
        0 0 0 0.0625rem alpha(@laranja, 0.5) inset;
    text-shadow: -1px -1px 1px alpha(@abobora, 0.1);
    background-image: linear-gradient(to top,
            alpha(@abobora, 0.2) 10%,
            alpha(@pessego, 0.1) 100%);
    background-blend-mode: color-burn;
}

#workspaces button.urgent:hover {
    color: rgb(107, 34, 50);
}

#workspaces button.hidden {
    background-color: rgba(186, 188, 201, 1);
    border: 0.15rem solid rgba(186, 188, 201, 1);
    color: rgb(196, 140, 108);
}

#taskbar {
    border-radius: 0.2rem;
    padding: 0 0.25rem 0 0.25rem;
    margin: 0 0.0625rem 0 0.0625rem;
}

#taskbar label {
    /* font-size: 0.8rem; */
    padding: 0 0.05rem 0 0.05rem;
    margin: 0rem;
}

#taskbar button {
    border-radius: 0.2rem;
    padding: 0 0.375rem 0 0.375rem;
    margin: 0 0.0625rem 0 0.0625rem;
}

#taskbar button:hover {
    box-shadow:
        0 0 0.5rem 0 alpha(@laranja, 0.3) inset,
        inset 0 0 0 0.0625rem alpha(@abobora, 0.3);
}

#taskbar button.active:hover {
    box-shadow:
        0 0 0.5rem 0 alpha(@laranja, 0.3) inset,
        inset 0 0 0 0.0625rem alpha(@abobora, 0.3);
}

#taskbar button.active {
    background-color: transparent;
}

#taskbar button.minimized {
    background-color: @pessego;
}

#taskbar button.maximized {
    background-color: transparent;
}

#taskbar button.fullscreen {
    background-color: alpha(@laranja, 1);
}

#taskbar.empty {
    background-color: transparent;
}

#group-dockish,
#group-appicons {
    padding: 0.01rem;
    margin: 0.01rem;
}

#group-privacy {
    border-radius: 0.2rem;
    padding: 0 0.25rem 0 0.25rem;
    margin: 0.3rem;
}

#privacy {
    border-radius: 0.2rem;
}

#privacy:hover {
    box-shadow:
        0 0 0.5rem 0 alpha(@abobora, 0.3) inset,
        0 0 0 0.0625rem alpha(@pessego, 0.3) inset;
}

#privacy-item {
    padding: 0 0.25rem 0 0.25rem;
}

#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
    color: rgb(255, 101, 0);
    animation: blink 3s steps(12) infinite alternate;
}

#backlight-slider {
    background-color: transparent;
    padding: 0 0.25rem 0 0.25rem;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    background-color: @newtext;
    min-height: 0.625rem;
    min-width: 15rem;
    border-radius: 0.2rem;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    background-color: @secondarytext;
    min-width: 0.25rem;
    border-radius: 0.2rem;
}

#clock {
    font-size: 1rem;
    font-weight: 800;
    border-radius: 0.2rem;
}

#clock,
#backlight,
#power-profiles-daemon,
#wireplumber,
#language,
#bluetooth,
#gamemode,
#network,
#idle_inhibitor,
#keyboard-state,
#custom-tools-button {
    color: alpha(@laranja, 1);
    font-size: 1rem;
    font-weight: 700;
    background: transparent;
    padding: 0 0.25rem 0 0.25rem;
}

#backlight label,
#power-profiles-daemon label,
#wireplumber label,
#language label,
#bluetooth label,
#gamemode label,
#network label,
#keyboard-state label {
    font-size: 1rem;
}

#backlight:hover,
#wireplumber:hover,
#network:hover,
#bluetooth:hover,
#custom-swaync:hover,
#custom-tools-button:hover {
    background-color: transparent;
}

#idle_inhibitor {
    font-size: 1rem;
    font-weight: 900;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0 0.25rem;
    margin: 0 0.25rem;
}

#idle_inhibitor:hover {
    color: alpha(@laranja, 0.6);
}

#idle_inhibitor.activated {
    color: alpha(@laranja, 1);
}

#idle_inhibitor.deactivated {
    color: alpha(@laranja, 0.3);
}

#custom-swaync {
    color: alpha(@laranja, 1);
}

#custom-swaync.notification {
    color: alpha(@laranja, 1);
}

#custom-swaync.none:hover,
#custom-swaync.notification:hover,
#custom-swaync.dnd-notification:hover,
#custom-swaync.inhibited-notification:hover,
#custom-swaync.inhibited-none:hover,
#custom-swaync.dnd-inhibited-notification:hover,
#custom-swaync.dnd-inhibited-none:hover {
    background-color: transparent;
    box-shadow:
        0 0 0.5rem 0 alpha(@abobora, 0.3) inset,
        0 0 0 0.0625rem alpha(@pessego, 0.3) inset;
    border-radius: 0.2rem;
}

#custom-swaync.none {
    color: alpha(@laranja, 1);
}

#custom-swaync.dnd-notification {
    color: alpha(@laranja, 1);
}

#custom-swaync.dnd-none {
    color: alpha(@laranja, 0.5);
}

#custom-swaync.inhibited-notification,
#custom-swaync.inhibited-none,
#custom-swaync.dnd-inhibited-notification,
#custom-swaync.dnd-inhibited-none {
    color: alpha(@pessego, 1);
}

/* #power-profiles-daemon,
#power-profiles-daemon.power-saver,
#power-profiles-daemon.performance {
    font-size: 1rem;
} */

#power-profiles-daemon:hover,
#power-profiles-daemon.performance:hover,
#power-profiles-daemon.power-saver:hover,
#power-profiles-daemon.balanced:hover {
    color: @defaultcritical;
}

/* #power-profiles-daemon.balanced {
    font-size: 1.2rem;
} */

#custom-kill {
    color: @secondarycritical;
    padding: 0 0.25rem 0 0.25rem;
}

#custom-kill:hover {
    color: rgb(233, 119, 119);
    background-color: transparent;
}

#custom-appmenu {
    font-size: 2rem;
    font-weight: 900;
    color: alpha(@laranja, 0.5);
    margin: 0 0.25rem 0 0;
    padding: 0 1rem;
    border-radius: 0.2rem;
}

#custom-power {
    font-size: 2rem;
    /* font-weight: 900; */
    color: alpha(@laranja, 1);
    padding: 0 0 0 0.5rem;
    margin: 0 0.0625rem 0 0.0625rem;
}

#custom-power:hover {
    color: @secondarycritical;
}

#custom-appmenu:hover {
    /* color: @greenish; */
    background-color: transparent;
    /* box-shadow:
        0 0 0.0625rem 0 alpha(@pessego, 0.5) inset,
        0 0 0 0.0625rem alpha(@abobora, 0.5) inset; */
    /* background-blend-mode: screen, multiply; */
    /* background-image: linear-gradient(to top left,
            alpha(@abobora, 0.2) 0%,
            alpha(@laranja, 0.4) 100%); */
    border-radius: 0.2rem;
}

#custom-clipboard_list,
#custom-hyprpicker,
#custom-wallpaper,
#custom-backup {
    color: alpha(@laranja, 0.6);
}

#custom-search,
#custom-kill,
#custom-hyprpicker,
#custom-clipboard_list,
#custom-backup,
#custom-myxer {
    background-color: transparent;
    border-radius: 0.2rem;
}

#custom-search:hover,
#custom-tools-button:hover,
#custom-hyprpicker:hover,
#custom-clipboard_list:hover,
#custom-wallpaper:hover,
#custom-backup:hover,
#custom-myxer:hover {
    color: alpha(@laranja, 1);
}

#battery label,
#group-backlight label,
#group-tools label,
#group-audio label,
#power-profile-daemon label {
    font-size: 1.2rem;
}

.drawer-child {
    padding: 0 0.25rem 0 0.25rem;
    background-color: transparent;
}

.tools-child {
    background-color: transparent;
}

#temperature {
    color: rgba(230, 55, 55, 1);
}

#temperature.critical {
    background-color: rgba(235, 77, 75, 0.3);
}

#cpu {
    color: rgba(118, 161, 241, 1);
}

#disk {
    color: rgba(132, 225, 232, 1);
}

#memory {
    color: rgba(231, 162, 35, 1);
}

#group-battery {
    margin: 0 0.125rem 0 0.125rem;
}

#battery {
    color: alpha(@laranja, 1);
    background-color: transparent;
}

#battery,
#battery.capacity {
    background-color: transparent;
    padding: 0.0625rem;
}

#battery.capacity {
    font-size: 0.76rem;
    font-weight: 900;
}

#battery.charging {
    color: @newtext;
    animation: blink 4s steps(12) infinite alternate;
}

#battery.half:not(.charging) {
    color: @discharging;
    animation: blink 4s steps(12) infinite alternate;
}

#battery.warning:not(.charging) {
    color: rgba(249, 134, 68, 1);
    animation: blink 4s steps(12) infinite alternate;
}

#battery.critical:not(.charging) {
    color: @secondarycritical;
    animation: blink 4s steps(12) infinite alternate;
}

#battery.discharging {
    color: @primarytext;
    animation: blink 4s steps(12) infinite alternate;
}

#tray {
    border-radius: 0.2rem;
    padding: 0.125rem;
}

#tray widget {
    background-color: transparent;
    border-radius: 0.2rem;
}

#tray menu {
    color: alpha(@laranja, 1);
    background-color: alpha(@night-blue, 0.8);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.2rem;
    box-shadow:
        0 0 0.5rem 0 alpha(@laranja, 0.3) inset,
        0 0 0 0.0625rem alpha(@pessego, 0.3) inset;
}

#tray menu label {
    font-size: 0.9rem;
    padding: 0.25rem;
    margin: 0.5rem;
}

#tray menu label:hover {
    color: @secondarycritical;
}

#tray>.passive {
    background-color: transparent;
    font-size: 2rem;
}

#tray>.active {
    border-bottom: 0.125rem solid @greenlight;
    border-radius: 0.2rem;
}

#tray>.needs-attention {
    border: 0.15rem solid @attention;
}

#network,
#bluetooth {
    font-size: 1rem;
    background-color: transparent;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0.125rem;
    border-radius: 0.2rem;
}

#network.disabled,
#bluetooth.disabled,
#network.disconnected,
#bluetooth.off,
#network.wifi,
#bluetooth.on,
#network.linked,
#bluetooth.connected,
#bluetooth.discoverable,
#bluetooth.discovering,
#network.ethernet,
#bluetooth.pairable {
    color: alpha(@laranja, 1);
}

#gamemode.running {
    color: rgba(245, 245, 245, 1);
}

#user image .avatar {
    font-size: 0.7rem;
}

#user image {
    background-color: @laranja;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

tooltip {
    background-color: alpha(@night-blue, 0.85);
    margin: 0.5rem;
    border: 0.0625rem solid alpha(@pessego, 0.4);
    border-radius: 0.2rem;
    box-shadow:
        0 0 0.5rem 0 alpha(@laranja, 0.3) inset,
        0 0 0 0.0625rem alpha(@pessego, 0.3) inset;
}

tooltip label {
    font-size: 1rem;
    color: alpha(@laranja, 0.8);
    padding: 0 1rem 0 1rem;
}

#submap {
    font-size: 0.8rem;
    font-weight: 900;
    color: @primarycritical;
    min-width: 8rem;
    animation: blink 0.6s steps(12) infinite alternate;
}

#submap.resize-mode {
    color: @primarycritical;
}

#custom-separator {
    font-size: 0;
    color: alpha(@laranja, 0.3);
    padding: 0rem;
    margin: 0.5rem 0 0.5rem 0;
    box-shadow:
        0 0 0.5rem 0 alpha(@pessego, 0.2) inset,
        0 0 0 0.0625rem alpha(@abobora, 0.2) inset;
}

#custom-quicklaunch {
    font-size: 2rem;
    padding: 0 0.5rem;
    margin: 0;
}

#custom-niri-overview {
    font-size: 2.3rem;
    padding: 0 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

#custom-appmenu:hover,
#custom-quicklaunch:hover,
#custom-niri-overview:hover {
    color: alpha(rgb(44, 144, 200), 1);
    text-shadow: -1px -1px 5px alpha(rgb(44, 144, 200), 1);
}

test {
    color: @pessego;
    /* #cdd6f4; */
    color: rgb(180, 190, 254);
    /* #b4befe */
    color: rgb(203, 166, 247);
    /* #cba6f7 */
    color: rgb(17, 17, 27);
    /* #11111b; */
    color: rgb(30, 30, 46);
    /* #1e1e2e; */
}
